<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />
    <title>Itrack Budget Performance Management system </title>
    <!-- Bootstrap -->
    <link href="../Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Content/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="~/Content/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/Content/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/Content/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/Content/build/css/custom.min.css" rel="stylesheet">


    <link href="~/Content/vendors/normalize-css/normalize.css" rel="stylesheet">
    <link href="~/Content/vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="~/Content/vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">
    <!-- Bootstrap Colorpicker -->
    <link href="~/Content/vendors/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">

    <script src="~/Content/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>





</head>
<body>
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>BPM</span></a>
                    </div>
                    <br />
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    @*<div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/Images/Peter.jpeg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>Peter Makwakwa</h2>
                        </div>
                    </div>*@
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> Reports <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="~//Index">Dashboard</a></li>
                                        <li><a href="~/AdministrationM/Index">Budgets</a></li>
                                        <li><a href="~//Index">KPI</a></li>
                                        <li><a href="~/AdministrationM/Index">Budget Analysis</a></li>
                                        <li><a href="~//Index">KPI Analysis</a></li>
                                        <li><a href="~/AdministrationM/Index">Chart of Analytic Accounts</a></li>
                                        <li><a href="~//Index">Budget History</a></li>
                                        <li><a href="~/AdministrationM/Index">Budget Report</a></li>
                                        <li><a href="~//Index">KPI History</a></li>
                                    </ul>
                                </li>


                                <li>
                                    <a><i class="fa fa-home"></i> Configuration <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="~/Configurations/Mission">Mission</a></li>
                                        <li><a href="~/Configurations/Department">Department</a></li>
                                        <li><a href="~/Configurations/Program">Programmes</a></li>
                                        <li><a href="~/Configurations/Activity">Activity</a></li>
                                        <li><a href="index.html">KPIs</a></li>
                                        <li><a href="index.html">Default KPIs</a></li>
                                        <li><a href="~/Configurations/BudgetPeriod">Budget Period</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Budgets/Budget"><i class="fa fa-edit"></i> Create Budget </a>
                                    @*<ul class="nav child_menu">
                                        <li><a href="~/SupplyChainAqui/Index"> Aquisition</a></li>
                                        <li><a href="form_advanced.html">Project Specification</a></li>
                                        <li><a href="form_validation.html">Form Validation</a></li>
                                        <li><a href="form_wizards.html">Contract Management</a></li>
                                        <li><a href="form_upload.html">Tendor Process</a></li>
                                        <li><a href="form_buttons.html">Tendor Evaluation</a></li>
                                    </ul>*@
                                </li>
                                <li>
                                    <a><i class="fa fa-table"></i> Maintain Budget <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="media_gallery.html">2016-17</a></li>
                                        <li><a href="media_gallery.html">2017-18</a></li>
                                        <li><a href="~/Expense/BudgetExpense">2018-19</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-bar-chart-o"></i> Import Budget <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        @*<li><a href="chartjs.html">Project Report</a></li>
                                        <li><a href="chartjs2.html">Activity Report</a></li>
                                        <li><a href="morisjs.html">Contract Report</a></li>
                                        <li><a href="echarts.html">Supply Chain Management Report</a></li>
                                        <li><a href="other_charts.html">Tendor Report</a></li>*@
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-clone"></i>KPI Performance Target <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="media_gallery.html">2016-17</a></li>
                                        <li><a href="media_gallery.html">2017-18</a></li>
                                        <li><a href="~/KPi/KPiBudgetExpense">2018-19</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-clone"></i>KPI Performance Actual <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="media_gallery.html">2016-17</a></li>
                                        <li><a href="media_gallery.html">2017-18</a></li>
                                        <li><a href="general_elements.html">2018-19</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>


            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right"></ul>
                    </nav>
                </div>

            </div>

            <div class="container body-content">
                @RenderBody()
                <hr />
                @*<footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>*@
            </div>


        </div>

        <!-- jQuery -->
        <script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="~/Content/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="~/Content/vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="~/Content/vendors/nprogress/nprogress.js"></script>
        <!-- Chart.js -->
        <script src="~/Content/vendors/Chart.js/dist/Chart.min.js"></script>
        <!-- gauge.js -->
        <script src="~/Content/vendors/gauge.js/dist/gauge.min.js"></script>
        <!-- bootstrap-progressbar -->
        <script src="~/Content/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
        <!-- iCheck -->
        <script src="~/Content/vendors/iCheck/icheck.min.js"></script>
        <!-- Skycons -->
        <script src="~/Content/vendors/skycons/skycons.js"></script>
        <!-- Flot -->
        <script src="~/Content/vendors/Flot/jquery.flot.js"></script>
        <script src="~/Content/vendors/Flot/jquery.flot.pie.js"></script>
        <script src="~/Content/vendors/Flot/jquery.flot.time.js"></script>
        <script src="~/Content/vendors/Flot/jquery.flot.stack.js"></script>
        <script src="~/Content/vendors/Flot/jquery.flot.resize.js"></script>
        <!-- Flot plugins -->
        <script src="~/Content/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
        <script src="~/Content/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
        <script src="~/Content/vendors/flot.curvedlines/curvedLines.js"></script>
        <!-- DateJS -->
        <script src="~/Content/vendors/DateJS/build/date.js"></script>
        <!-- JQVMap -->
        <script src="~/Content/Content/vendors/jqvmap/dist/jquery.vmap.js"></script>
        <script src="~/Content/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
        <script src="~/Content/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="~/Content/vendors/moment/min/moment.min.js"></script>
        <script src="~/Content/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
        <!-- Custom Theme Scripts -->
        <script src="~/Content/build/js/custom.min.js"></script>
        <script src="~/Content/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>


        <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
        <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
        @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
        @RenderSection("scripts", required: false)

        <script>

            $(document).ready(function () {
                $('#myTable').DataTable({
                    paging: true,
                });


            });

        </script>
    </div>






</body>
</html>